@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");

body {
  margin: 0;
}
* {
  box-sizing: content-box;
}
input ::-webkit-outer-spin-button,
input :: -webkit-inner-spin-button{
-webkit-appearance: none;
margin: 0;
}

input[type="number"] {
  appearance: none;
}

input {
  font-family: inherit;
}

input {
  border-style: solid;
  border-width: 1px;
  border-radius: 6%;
}

textarea {
  border-color: #eee;
  border-width: 1px;
}
label,
textarea,
input {
  width: 100%;
  display: block;
}

.ccMain {
  display:flex;
  font-family: "Space Grotesk";
  color: hsl(279, 6%, 55%);
  letter-spacing: 0.14em;
}
.ccMain label {
  display: flex;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  flex-direction: row;
}
.ccMain input {
  color: hsl(278, 68%, 11%);
  display: flexbox;
}
.ccMain input::placeholder {
  display: flex;
  padding: 11px;
  color: hsl(278, 3%, 87%);

  color: hsl(278, 68%, 11%);
  font-size: 16px;
  letter-spacing: 2px;

  border-color: hsl(270, 3%, 87%);
  border-radius: 8px;
}

.ccForm input::placeholder {
  color: hsl(270, 3%, 87%);
}

.ccLeftSide {
  display:block;
  height: 100%;  
  
}
.ccLeftSide {
  background-image: url("./images/bg-main-desktop.png");
  background-size:cover;
  background-repeat:no-repeat;
  height: 100vh;
} 
.ccFrontSide,
.ccBackSide {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 20px 50px #0003;
  border-radius: 9px;
  width: 447px;
  height: 245px;
}
.ccFrontNumber {
  position: absolute;
  left: 51px;
  top: 150px;
  color: #fff;
  font-size: 25px;
  letter-spacing: 4px;
}
.ccFrontDate {
  position: absolute;
  left: 358px;
  height: 129px;
  top: 210px;
  color: #fff;
  font-size: 12px;
}
.ccFrontSide {
  background-image: url("./images/bg-card-front.png");
  left: 12%;
}
.ccFrontName {
  text-transform: uppercase;
}
.ccFrontName {
  position: absolute;
  left: 27px;
  height: 180px;
  top: 210px;
  color: hsl(270, 3%, 87%);
  font-size: 12px;
}
.CardLogo {
  position: relative;
  left: 35px;
  top: 30px;
}

.ccBackSide {
  position:relative;
  background-image: url("./images/bg-card-back.png");
  left: 32%;
  top: 570px;
}
.ccBackCvc {
  position: relative;
  left: 350px;
  height: 180px;
  top: 110px;
}

.ccLeftSide {
  width: 38.54%;
  
  
}

.ccLeftSide {
  background-image: url("./images/bg-main-desktop.png");
  background-size: cover;
  background-repeat:no-repeat;
  
}

.ccFrontSide,
.ccBackSide {
  box-shadow: 0 30px 70px #000b;
}
.ccInputCvcGroup {
  display: flex;
  flex-direction: column;
  width: 33%;
}
.ccInputDateGroup {
  display: flex;
  flex-direction: column;
  width: 33%;
}
.ccDateInputs {
  display: flex;
  flex-direction: r;
}

.ccFrontSide {
  right: -9.167vw;
  top: 100px;
}
.ccBackSide {
  /*right: -17.8vw;*/
  top: 150px;
  
}

.ccRightSide {
  display: flex;
}
.ccForm {
  display: inline-block;
  flex-direction: column;
  align-self: center;
}

.ccForm label {
  display: flex;
}

.ccInputRow {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-basis: 100%;
}
.ccInputDateGroup {
  display: flex;
}
.ccnnputCvcGroup {
  display: flex;
  flex-direction: column;
}
.ccMain button {
  
  display: block;
  width: 100%;
  font-weight: 1px;
  letter-spacing: 2px;
  padding: 10px;
  color: white;
  background-color: hsl(278, 68%, 11%);
  border: 0;
  border-radius: 11px;
  font-family: Space + Grotesk;
}

@media (max-width: 375px) {
  .ccMain {
    flex-direction: column;
  }
  .ccLeftSide {
    background-image: url("./images/bg-main-mobile.png");
    background-size: cover;
    background-repeat: no-repeat;
  }


}
@media (min-width: 376px) {
  .ccMain {
    min: height 100vh;;
    
  }
  .ccLeftSide {
    width: 33, 3333333%;
  }
  .ccLeftSide {
    background-image: url("./images/bg-main-desktop.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .ccRightSide {
    justify-content: center;
  }
  .ccForm {
    width: 380px;
    padding-left: 90px;
  }
}      
